<nav class="navbar navbar-default">
    
    {% if session["login"] %}
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Flaskblog</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/write-blog">Write Blog</a></li>
                <li><a href="/myblogs">Myblogs</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"> Logout</a></li>
            </ul>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Flaskblog</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    {% endif %}
  
</nav>
