{% extends 'base.html' %}

{% block title %}
    FlaskBlog
{% endblock %}

{% block subcontent %}
    <h1 align=center> FlaskBlog</h1>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Flaskblog</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/write-blog">Write Blog</a></li>
            <li><a href="/myblogs">Myblogs</a></li>
            <li><a href="/about">About Us</a></li>
          </ul>
        </div>
      </nav>
{% endblock %}